doctype html
html
	head
		title Franklin is awesome
		link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
		link(rel="stylesheet" type="text/css" href="vendors/font-awesome/css/font-awesome.min.css")

	body
		block content

	script(src="vendors/jquery.min.js")
	script(src="vendors/angular.min.js")
	script(src="js/style.js")
	script(src="js/app.js")